server:
  port: 8082

spring:
  application:
    name: catalog

  datasource:
    url: ${CATALOG_DB_URL:jdbc:mysql://localhost:3307/catalogdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${CATALOG_DB_USER:catalog}
    password: ${CATALOG_DB_PASS:catalogpw}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s


  mvc:
    throw-exception-if-no-handler-found: true
  web:
      resources:
        add-mappings: false
