server:
  port: 8083

spring:
  application:
    name: inventory

  datasource:
    url: ${INVENTORY_DB_URL:jdbc:mysql://localhost:3308/inventorydb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${INVENTORY_DB_USER:inventory}
    password: ${INVENTORY_DB_PASS:inventorypw}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: inventory-reserve-g1
      auto-offset-reset: earliest
      enable-auto-commit: false
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.flashSale.inventory.events.OrderCreatedEvent
        spring.json.use.type.headers: false
    listener:
      ack-mode: manual


logging:
  level:
    root: INFO
