server:
  port: 8081

spring:
  application:
    name: auth

  datasource:
    url: jdbc:mysql://localhost:3306/authdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: auth
    password: authpw
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

