server:
  port: 8081

spring:
  application:
    name: auth

  datasource:
    url: ${AUTH_DB_URL:jdbc:mysql://localhost:3306/authdb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC}
    username: ${AUTH_DB_USER:auth}
    password: ${AUTH_DB_PASS:authpw}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

